html, body {
  height: 100%;
}

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background: linear-gradient(
  180deg, rgb(255, 158, 31) 0%,
  #fffb20 100%);
  color: rgb(34, 4, 46);
}

button{
  background: #7908fa;
  color: aliceblue;
  padding: 0 45px;
  border: #fffb20;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: .4s;
}

button:hover{
  background-color: #310268;
}